<html>
<head>
    {% load static %}
    <link href="{% static "events/css/e_index.css" %}" rel="stylesheet" />
    <title>活动浏览</title>
</head>

<body>
<header>
    <div style="background:url(/media/top-bg.jpg) no-repeat ;height:230px; width:980px; "> <span>HIKE</span></div>
</header>
<article>
    <!--活动浏览-->
    <div class="main">
        <ul class="dt">
            <li class="dt1">活动</li>
            <li class="dt2">出发城市</li>
            <li class="dt3">目的地</li>
            <li class="dt4">集合时间</li>
            <li class="dt5">发布时间</li>
        </ul>
        
    {% for list in pageInfo.object_list %}   
        <ul>
        <li class="dt1"><a href=" {% url 'detail' list.id  %} " target="_blank">{{list.title}}</a></li>
        <li class="dt2">{{ list.fromCity }}</li>
        <li class="dt3">{{ list.destination }}</li>
        <li class="dt4">{{ list.departTime|date }}</li>
        <li class="dt5">{{ list.createTime|date }}</li>
        </ul>
    {% endfor %}
        
    </div>
    <div class="pagelist">
        {% if pageInfo.has_previous %}
            <a href="{% url 'article' pageInfo.previous_page_number %}">上一页</a>
        {% endif %}
        {% if pageInfo.object_list %}
            {% for page in pageInfo.paginator.page_range %}
                {% if pageInfo.number == page  %}
                    <a href="javascript:;" class="curpage">{{ page }}</a>
                {% else %}
                    <a href="{% url 'article'  page %}">{{ page }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if pageInfo.has_next %}
            <a href="{% url 'article' pageInfo.next_page_number %}">下一页</a>  
        {% endif %}

    </div>
</article>

</body>
</html>
