<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <link href="{% static "events/css/e_index.css" %}" rel="stylesheet" />

    <title>活动详情 - {{ det.title }}</title>
</head>
<body>
    <header>
    <div style="background:url(/media/top-bg.jpg) no-repeat ;height:230px; width:980px; "> <span>HIKE</span></div>
    </header>
    <div class="dt">
        <ul >
            <li>活动名称：{{ det.title }}</li>
            <li>出发城市：{{ det.fromCity }}</li>
            <li>目的城市：{{ det.toCity }}</li><li>目的地：{{ det.destination }}</li>
            <li>行程计划：{{det.startDate}} 至 {{det.endDate}} </li>
            <li>集合时间：{{det.departTime}}</li>
            {#<li>活动类型：{{det.type}}</li>#}
            <li>人数限制：{{ det.numbers }}</li>
            <li>活动介绍：</li>
        </ul>
         <p>{{ det.content|safe }}</p>
        <div class="dis">
             {% for list in pageInfo.object_list %}   
        <ul>
        <li class="dt1"></li>
       
        </ul>
    {% endfor %}
        </div>

    </div>

</body>
</html>